#janela-analise{

position:fixed;

top:10px;

right:10px;

bottom:10px;

left:10px;

width:auto;

height:auto;

background:#000;

border:2px solid #29b6f6;

border-radius:10px;

z-index:999999;

display:block;

box-shadow:0 0 20px rgba(0,0,0,.6);

}


#topo-analise{

display:flex;

justify-content:space-between;

align-items:center;

padding:12px;

border-bottom:1px solid #222;

}


#titulo-analise{

font-family:Arial;

font-style:italic;

font-size:13px;

color:white;

white-space:nowrap;

}


#fechar-analise{

cursor:pointer;

font-size:18px;

color:white;

}


#status-live{

padding:10px;

text-align:right;

color:white;

font-size:12px;

}


#led-live{

display:inline-block;

width:10px;

height:10px;

border-radius:50%;

background:red;

margin-right:6px;

}


#conteudo-analise{

padding:15px;

color:white;

font-family:Arial;

}

#painel-status{

display:flex;

justify-content:flex-end;

align-items:center;

margin-bottom:15px;

}

#status-tick{

display:flex;

align-items:center;

gap:8px;

font-family:Arial;

font-size:12px;

color:#ffffff;

}

#texto-live{

font-weight:bold;

letter-spacing:.5px;

}

#cards-analise{

display:flex;

flex-direction:column;

gap:12px;

overflow-y:auto;

height:calc(100% - 40px);

padding-right:4px;

}

.card-analise{

background:#0d1b2a;

border:1px solid #1d3557;

border-radius:8px;

padding:8px;

}

.titulo-card{

color:#29b6f6;

font-size:13px;

font-weight:bold;

margin-bottom:8px;

}

.tipo-estrategia{

color:#ffffff;

font-size:14px;

margin-bottom:10px;

font-weight:bold;

}

.barra-fundo{

width:50%;

height:6px;

background:#263238;

border-radius:20px;

overflow:hidden;

margin-top:6px;

margin-bottom:6px;

}

.barra-progresso{

height:100%;

background:#00ff66;

border-radius:20px;

transition:.4s;

}

.percentagem{

color:#ffffff;

font-size:13px;

margin-bottom:10px;

}

.bot-recomendado{

color:#ffffff;

font-size:13px;

}

.bot-recomendado b{

color:#00e676;

}

.barra-verde{

background:#00ff66 !important;

}

.barra-vermelha{

background:#ff1744 !important;

}


.barra-texto{

display:flex;

align-items:center;

justify-content:space-between;

margin-top:8px;

margin-bottom:8px;

}

.blocos-barra{

font-family:monospace;

font-size:18px;

font-weight:bold;

color:#00ff66;

letter-spacing:1px;

}

.valor-percentagem{

color:white;

font-size:13px;

font-weight:bold;

}
